<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投豹アプリ</title>
    <link rel="stylesheet" href="{% static "main/css/index.css" %}">
</head>
<body>
    <div class="index-container">
    {% if all_question %}
   <ul class="question-list">
        {% for question in all_question %}
            <li class="question-item"><a class="question-link" href="{% url 'detail' question.id %}">{{ question.question_text}}</a></li>
        {% endfor %}
    {% else %}
        <p class=".no-questions">任せますね</p>
        {% endif %}
   </ul>
   </div>
</body>
</html>